/* Default colors */
:root {
  --color-light: #ffffff;
  --color-dark: #000000;

  --color-slate-50: #f5f5f5;
  --color-slate-100: #dcdcdc;
  --color-slate-200: #c0c0c0;
  --color-slate-300: #a9a9a9;
  --color-slate-400: #808080;
  --color-slate-500: #696969;
  --color-slate-600: #555555;
  --color-slate-700: #464646;
  --color-slate-800: #363636;
  --color-slate-900: #262626;
  --color-darkmode-50: #f5f5f5;
  --color-darkmode-100: #dcdcdc;
  --color-darkmode-200: #c0c0c0;
  --color-darkmode-300: #a9a9a9;
  --color-darkmode-400: #808080;
  --color-darkmode-500: #696969;
  --color-darkmode-600: #555555;
  --color-darkmode-700: #464646;
  --color-darkmode-800: #363636;
  --color-darkmode-900: #262626;
}

/* Default dark-mode colors */
.dark {
  --color-light: #000000;
  --color-dark: #ffffff;
  --color-slate-50: #262626;
  --color-slate-100: #363636;
  --color-slate-200: #464646;
  --color-slate-300: #555555;
  --color-slate-400: #696969;
  --color-slate-500: #808080;
  --color-slate-600: #a9a9a9;
  --color-slate-700: #c0c0c0;
  --color-slate-800: #dcdcdc;
  --color-slate-900: #f5f5f5;
  --color-darkmode-50: #000000;
  --color-darkmode-100: #262626;
  --color-darkmode-200: #363636;
  --color-darkmode-300: #464646;
  --color-darkmode-400: #696969;
  --color-darkmode-500: #555555;
  --color-darkmode-600: #808080;
  --color-darkmode-700: #a9a9a9;
  --color-darkmode-800: #c0c0c0;
  --color-darkmode-900: #f5f5f5;
}
